h1{
    font-family: verdana;
    font-size: 30px;
    text-align: center;
}

p{
    margin-left: 15%;
    margin-top: 40px;
    font-family: Arial;
    font-size: 20px;
}

.Correo{
    font-family: Arial;
    font-size: 20px;
    margin-top: 60px;
    margin-left: 15%;
}

.Contraseña{
    font-family: Arial;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 15%;
}

.Contraseña label{
    display: block;
    margin-bottom: 10px;
    margin-top: 0%;
}

.Correo label{
    display: block;
    margin-bottom: 10px;
    margin-top: 0%;
}

.Botón_de_enviar{
    margin-left: 15%;
}

